services:
  simple_todo_list:
    build:
      dockerfile: ./build/package/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${APP_PORT}:8080"
    env_file:
      - .env
    networks:
      - app-network

  db:
    image: postgres:17.4-alpine3.21
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${DB_HOST_PORT}:${DB_CONTAINER_PORT}"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  app-network:
    driver: bridge